RUSTFS_ACCESS_KEY=polaris_root
RUSTFS_SECRET_KEY=polaris_pass

POLARIS_REALM=POLARIS
ROOT_CLIENT_ID=root
ROOT_CLIENT_SECRET=s3cr3t

CATALOG_NAME=quickstart_catalog
USER_CLIENT_ID=quickstart_user
USER_CLIENT_SECRET=quickstart_pass
